$font-family: 'NT Somic', sans-serif;

$accent-red: #f3223c;
$accent-blue: #5d8896;
$accent-green: #46a175;

$hover-btn-red: #d42133;
$hover-btn-grey: #eaeaea;

$text-primary: #0c0c0d;
$text-secondary: #8b8b8b;
$text-thirdly: #858585;

$bg-main: #ffffff;
$bg-input: rgba(93, 136, 150, 0.08);
$bg-buttons: rgba(243, 34, 60, 0.08);
$bg-sidebar-button: #5d889614;
$icons-color: #bdbdbd;

$box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.08);
